.article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.article-item {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.article-item__date {
  font-size: 14px;
  color: #B8B8B8;
  margin-bottom: 11px;
}

.article-item__title {
  font-family: $font-family--alt;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 15px;
}

.article-item__text {
  line-height: 22px;
  color: #151B1E;
}

.article-btn {
  margin: 0 auto;
  width: 246px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-weight: 500;
  font-family: $font-family--alt;
  color: #fff;
  border-radius: 3px;
  background-color: #60C372;
  text-align: center;
}
