.product {
  padding: 45px 0 70px;
  position: relative;
  width: 100%;
  &::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 70%;
    background-color: #DEDEDE;
    top: 55%;
    left: 50%;
    transform: translate(-50% , -50%);
  }
}

.product-wrapp {
  display: flex;
  justify-content: space-between;
}

.product-slider__wrapp {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.product-wrapp__coll {
  width: 40%;
}


.product-slider {
  max-width: 600px;
  width: 100%;
}

.product-slide {
  outline: none;
  cursor: pointer;
}

.product-slide__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 400px ;
  img {
    width: 100%;
  }
}

.sale--icon  {
  position: absolute;
  width: 129px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #EA4335;
  border-radius: 3px;
  top: 10px;
  right: 0px;
}

.product-slide__nav {
  width: 139px !important;
  height: 111px;
  cursor: pointer;
}

.product-wrapp__nav {
  display: flex;
  justify-content: center;
  .slick-center {
    opacity: .2;
    transition: all .4s;
  }
}

.product-slide__nav {
  outline: none;
}

.product-wrapp__descr {

}

.product-descr__top {
  width: 84%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 65px;
}

button.maps-btn {
  margin: 0;
  width: 60%;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: space-around;
}

.product-price {
  font-family: $font-family--alt;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .old {
    text-decoration: line-through;
    color: #151B1E;
    font-size: 16px;
  }
  span {
    font-weight: 800;
    font-size: 30px;
    line-height: 120%;
    color: #56B367;
  }
}

.product-descr__list  {
  width: 100%;
  margin-bottom: 50px;
}

.product-descr-item {
  display: flex;
  justify-content: space-between;
  color: #151B1E;
  padding: 5px 0;
  border-bottom: 1px solid#DEDEDE;
  .item-name {
    width: 50%;
  }
  .item-value {
    width: 40%;
  }
}

.show-more {
  padding-bottom: 3px;
  padding-right: 5px;
  border-bottom: 3px solid #60C372;
}


.product-second {
  background-color: #F5F5F5;
  padding: 100px 0;
}

.product-second__wrapp {
  display: flex;
  justify-content: space-between;
}

.product-second__l {
  width: 50%;
}

.product-second__r {
  width: 40%;
}

.product-second__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  font-family: $font-family--alt;
  color: #1C1A1F;
  margin-bottom: 30px;
}

.product-second__text {
  font-size: 16px;
  line-height: 22px;
  color: #151B1E;
}

.second-btn__wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  .video-btn {
    background: #F5F5F5;
    border: 2px solid #60C372;
    box-sizing: border-box;
    border-radius: 3px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      margin-right: 15px;
    }
  }
  .btn-first {
    width: 70%;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}

.producr-third {
  padding: 30px 0 50px;
}

.producr-third__img {
  margin-top: 30px;
  background: #F5F5F5;
  padding: 40px;
  width: 40%;
}
