.top-page {
  margin-bottom: 30px;
  position: relative;
}

.top-page__title {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 10px;
  line-height: 40px;
}

.top-page--product {
  margin-bottom: 0;
}

