.top-sale {
  padding: 25px 0 44px;
  background: rgb(245,245,245);
  background: linear-gradient(0deg, rgba(245,245,245,1) 72%, rgba(245,245,245,1) 73%, rgba(255,255,255,1) 73%);
  position: relative;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    width: 500px;
    height: 227px;
    right: 0;
    background-image: url(../img/after-brands.svg);
  }
  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    width: 300px;
    height: 227px;
    left: 0;
    background-image: url(../img/before-brands.svg);

  }
}

.top-sale__title {
  z-index: 10;
  position: relative;
  margin-bottom: 30px;
}

.card-slider {
  position: relative;
  z-index: 10;
}

.card-slider1 {
  padding-bottom: 60px;
}

.card-slider {
  position: relative;

}
