/* -- Fonts --*/
$font-family: "Oswald", "Arial", sans-serif;
$font-family--alt: "Arial", "Helvetica", sans-serif;
/* -- Colors --*/
/* -- Headers --*/
$color-header: #111111;
$color-header--alt: #222222;
$color-header--rev: #ffffff;

/* -- Text --*/
$color-text: #444444;
$color-text--rev: #ffffff;

/* -- Other Text Elemnts --*/
$color-text--other: #111111;

/* -- Menu --*/
$color-menu: #111111;
$color-menu--hover: rgba(17, 17, 17, 0.6);
$color-menu--active: rgba(17, 17, 17, 0.3);
$color-menu-alt: #ffffff;
$color-menu-alt--hover: rgba(255, 255, 255, 0.6);
$color-menu-alt--active: rgba(255, 255, 255, 0.3);

/* -- Backgrounds --*/
$color-bg--light: #ffffff;
$color-bg--dark: #f2f2f2;
$color-bg: #68b738;
$color-bg--image: #64a83b;

/* -- Buttons --*/
$color-btn: #68b738;
$color-btn-text: #ffffff;
$color-btn--hover: #5eaa2f;
$color-btn-text--active: rgba(255, 255, 255, 0.3);

/* -- Form --*/
$color-label: #222222;
$color-placeholder: #444444;

/* -- Borders --*/
$color-border: #d9d9d9;

/*Widths*/
$desktop-width: 1300px;
$tablet-width: 768px;
$mobile-width: 320px;
/*Paddings*/
$desktop-padding: 40px;
$tablet-padding: 30px;
$mobile-padding: 20px;
$retina-dppx: 1.5dppx;
